Django==4.2.19
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2024.2
gunicorn==23.0.0
whitenoise==6.9.0
python-dotenv==1.0.1
django-tailwind==3.6.0
psycopg2-binary==2.9.9
requests==2.31.0
numpy==1.26.4
pandas==2.2.3