Django>=4.2,<5.0  # Django 4.2 以上、5.0 未満
asgiref==3.8.1
sqlparse
tzdata==2024.2
gunicorn==23.0.0
whitenoise
python-dotenv==1.0.1
django-tailwind
psycopg2-binary==2.9.9
requests
numpy==1.26.4
pandas==2.2.3
urllib3==1.26.6
charset-normalizer==2.0.4
certifi==2024.8.30
idna==2.10
pytz
typing_extensions==4.12.2
packaging==24.1
setuptools-scm==8.1.0
zipp==3.19.2
importlib_metadata==8.0.0
rfc3986==1.5.0
lxml==5.2.2
